@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: #181818;
    color: #fff;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 300;
}


.wrapper{
    display: flex;
    flex-direction: row;

}


.left{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.right{
    flex: 1;
}

/* SIGN IN */

.sign_in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-bottom: 1rem;
}

form{
    width: 80%;
    padding-bottom: 3rem;
}

.logo{
    margin-bottom: 8vh;
    display: flex;
    align-items: center;
    
}

.logo img{
    width: 100px;
}

label{
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 500;
}

input{
    margin-bottom: 1.3rem;
    width: 100%;
    border-radius: 2px;
    background: #181818;
    border: 1px solid #555;
    color: #ccc;
    padding: 0.5rem 1rem;
    line-height: 1.3rem;
}

.sign_in .primary_btn{
    width: 100%;
}

.sign_in .secondary_btn, .or, .links{
    width: 60%;
}

.sign_in .links a{
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 1rem;
    text-align: center;
    font-size: .9rem;
}

.sign_in .or{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.2rem;
    align-items: center;
}

.sign_in .or hr{
    flex: auto;
    border: none;
    height: 1px;
    background: #aaa;
}

span{
    color: #aaa;
    padding: 0 .8rem;
}

/* SHOWCASE */
.showcase{
    background: url(./images/istockphoto-482754236-612x612.jpg) no-repeat center center / cover;
    filter: brightness(.8);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase


/* FOOTER */
.main_footer{
    color: #aaa;
    text-align: center;
    font-size: .8rem;
    max-width: 80%;
}

.main_footer a{
    color: #f96816;
    text-decoration: underline;
}

/* BUTTONS */

.primary_btn{
    padding: .7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 0;
    border-radius: 2px;
    font-weight: 500;
    background: #f96816;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all .5s;
}

.primary_btn:hover{
    background: #ff7b39;
}

.secondary_btn{
    padding: .7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 1px solid #f4f4f4;
    border-radius: 2px;
    font-weight: 500;
    background: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all .5s;
}

.secondary_btn:hover{
    border-color: #ff7b39;
    color: #ff7b39;
}

/* MEDIA QUERIES */

@media (min-width: 1200px) {
    .left{
        flex: 4;
    }

    .right{
        flex: 6;
    }
}